@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
}
